<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestGenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    
    <header>
        <div class="title-container">
            <h1>TestGenie</h1>
        </div>

        <div class="top-right-links">
            <!-- These links will lead to the about.html page -->
            <a href="{{ url_for('about') }}#about-section">About</a>
            <a href="{{ url_for('home') }}">Start Page</a>

        </div>
    </header>
    <div id="mainContainer"></div> 

    <!-- Popup for customization -->
    <div id="customizePopup" class="popup">
        <div class="popup-content">
            <textarea id="customReq" rows="4" cols="50" placeholder="Describe your requirements in natural language"></textarea>
            <button id="closePopup" class="close-popup-button">X</button>
            <button id="reviseButton">Revise</button>
        </div>
    </div>

    <!-- Popup for adding relationships -->
    <div id="addRelationPopup" class="popup" style="display: none;">
        <div class="popup-content">
            <textarea id="relationReq" rows="4" cols="50" placeholder="Describe your requirements in natural language"></textarea>
            <button id="closeRelationPopup" class="close-popup-button">X</button>
            <button id="applyRelationButton">Apply</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>

